.bg-image {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.title-row {
  min-height: 95vh;
}

.signin-form {
  background-color: azure;
  padding: 35px;
  border-radius: 5px;
}

.term {
  font-size: 12px;
}

.link {
  text-decoration: none;
}

.img-comment{
  margin-left: 12px;
}

.link-button{
  background: none;
  border: none;
  color: #0d6efd;
}
.link-button:hover{
  color: #5958cd;
}

.user-image{
  cursor: pointer;
}