body {
  font-family: "Lato", sans-serif;
}

.bg-image {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.title-row {
  min-height: 95vh;
}

.signin-form {
  background-color: azure;
  padding: 35px;
  border-radius: 5px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.term {
  font-size: 12px;
}

.link {
  text-decoration: none;
}

.img-comment {
  margin-left: 12px;
  width: 40px;
}

.link-button {
  background: none;
  border: none;
  color: #0d6efd;
}
.link-button:hover {
  color: #5958cd;
}

.user-image {
  cursor: pointer;
}

.error {
  color: red;
}

.img-size {
  width: 40px;
  height: 40px;
}
.img-div {
  width: 40px;
}
.posted_by {
  width: 200px;
}

.posts:last-child {
  margin-bottom: 30px;
}

.search-result {
  cursor: pointer;
}

.search-result:hover {
  background-color: rgb(158, 158, 161);
}

.unselect_img {
  position: absolute;
  text-decoration: none;
  left: 90px;
  font-size: 6px;
  top: 0;
  width: 10px;
  text-align: center;
  height: 10px;
  background-color: #1c1f23;
  color: white;
  border-radius: 50%;
}

.preserve_newline {
  white-space: pre-wrap;
}
@media (min-width: 768px) {
  .make-space {
    padding-right: 12px !important;
  }
}
@media (max-width: 560px) {
  .hide {
    display: none;
  }
}
.w-450 {
  width: 450px;
}
.w-350 {
  width: 350px;
}
@media (max-width: 435px) {
  div.col-2:nth-child(1) {
    width: 15% !important;
  }
}

@media (min-width: 436px) {
  div.col-2:nth-child(1) {
    width: 12% !important;
  }
}
